.z-holo {
  $holo-mask: repeating-conic-gradient(
      from -45deg,
      rgba(127, 127, 127, 0.9),
      rgba(191, 191, 191, 0.7),
      rgba(255, 255, 255, 0.9),
      rgba(191, 191, 191, 0.7),
      rgba(127, 127, 127, 0.9) 180deg
    )
    top left / 25px 25px;

  background: $holo-mask,
    -webkit-linear-gradient(135deg, #f00 0%, #ff0 25%, #0f0 45%, #0ff 55%, #00f
          75%, #f0f 100%),
    linear-gradient(
      135deg,
      #f00 0%,
      #ff0 25%,
      #0f0 45%,
      #0ff 55%,
      #00f 75%,
      #f0f 100%
    );

  &.z-holo-gold {
    background: $holo-mask, -webkit-linear-gradient(-45deg, #ff8, #dd0),
      linear-gradient(-45deg, #ff8, #dc0);
  }
  &.z-holo-silver {
    background: $holo-mask, #888;
  }

  &.z-holo-bronze {
    background: $holo-mask, #f80;
  }
}
